.maan-footer {
    background-color: var(--color-blue);
    font-family: var(--secondary-font);
    padding-top: 160px;
    position: relative;
}

.maan-footer h2 {
    font-family: var(--heading-font);
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.maan-footer h2 span {
    font-weight: 400;
    font-family: var(--secondary-font);
    font-style: italic;
}

.footer-logo {
    max-width: 100%;
}

.maan-footer .go2Top {
    left: 0;
    right: 0;
    top: -37px;
    width: 74px;
    height: 74px;
    margin: auto;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--color-red);
    border: 6px solid #fff;

}
.footer-main-heading {
  position: relative;
  display: inline-block;
}

.footerhvrArr {
  position: fixed;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 9999;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: auto; /* makes it clickable */
}

.footerhvrArr img {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
}

/* when active */
.footerhvrArr.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.footer-desc {
    color: #cfd9ff;
    line-height: 1.6;
    font-size: 15px;
}

.footer-social img {
    width: 30px;
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.1);
}

.maan-footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

.contact-info {
    padding: 40px 0;
}

.nav-link-f {
    padding: 35px 0;
    border-top: 1px solid #FFFFFF40;
    border-bottom: 1px solid #FFFFFF40;
}

.maan-footer a:hover {
    color: #ffcc00;
}

.footer-bottom .container {
    padding: 0 20px;
}

.each-f {
    margin-bottom: 25px !important;
}

.each-f:not(:last-child) {
    border-right: 1px solid #fff;
}

.each-f:not(:first-child) {
    padding-left: 80px;
}

.icon-img {
    width: 60px;
    line-height: 30px;
    margin-right: 20px;
}

.contact-info p,
.contact-info a {
    font-size: 20px;
    color: #e8e8e8;
}

/* Red angled bottom bar */
.footer-bottom {
    background-color: var(--color-red);
    position: relative;
}

.footer-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    top: 0;
    width: 17px;
    height: 100%;
    background-color: var(--color-blue);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.footer-bottom::after {
    content: "";
    position: absolute;
    right: -1px;
    top: 0;
    width: 17px;
    height: 100%;
    background-color: var(--color-blue);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #ffcc00;
}

@media (max-width: 768px) {
    .footer-desc {
        text-align: center;
    }

    .footer-social {
        justify-content: center;
    }
}