/* Navbar */
.navbar {
    font-family: var(--secondary-font);
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.navbar.show{
  background-color: #000;
}
.navbar .container-fluid{
    padding: 0 45px;
}
/* .logo img {
  height: 60px;
} */

/* Navigation Links */
.nav-links ul {
    position: relative;
  display: flex;
  list-style: none;
  gap: 30px;
  margin-bottom: 0;
}
.nav-links li:hover::before {
  position: absolute;
  content: '';
  top: -12px;
  width: 11px;
  height: 11px;
  background-color: #fff;
  border-radius: 50%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links li:hover a{
  color: #ff3333;
}

/* Right Icons */
.icons i {
  color: white;
  font-size: 18px;
  margin-left: 20px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.icons i:hover {
  background: white;
  color: black;
}

/* Dropdown Base */
.dropdown {
   
  position: relative;
  z-index: 5;
}
.mega-menu-wrapper{
    
}
.dropdown .mega-menu-wrapper {
     padding-top: 25px;
    overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  color: black;
  
  display: none;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}
.mega-menu{
    
}
.mega-menu .heading-wrapper{
    padding: 20px 30px;
    background-color: #edeff4;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #ddd;
}
.dropdown:hover .mega-menu-wrapper {
  display: block;
}

/* Mega Menu Content */
.mega-menu h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--color-blue) !important;
  font-weight: 700;
  font-family: var(--secondary-font);
}

.product-grid {
    background-color: #fff;
  display: flex;
  padding: 27px;
  border-radius: 0 0 8px 8px;
  gap: 15px;
  overflow-x: auto;
}

.product-item {
  text-align: center;
  width: 137px;
  
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-item img {
    width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.product-item p {
    text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  transition: 0.4s;
  color: #404040;

}

.product-item:hover p {
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  
  color:var(--color-blue);
}


/* Normal dropdown (for other menus) */
.nav-links li:hover > ul {
  display: block;
}

.nav-links li ul {
  display: none;
  position: absolute;
  top: 100%;
  background: white;
  color: black;
  padding: 10px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav-links li ul.dropdown-menu li {
  position: relative;
  padding: 10px 20px;
}
.nav-links li ul.dropdown-menu li:not(:last-child){
 border-bottom: 1px solid rgb(66 66 66 / 17%);
}
.nav-links li ul.dropdown-menu li::before{
    top: 50%;
    transform: translateY(-50%);
    bottom: inherit;
    left: 0px;
    background-color: var(--color-red);
}
.nav-links li ul.dropdown-menu li a {
  position: relative;
  color: black;
}
.nav-links li ul.dropdown-menu li:hover a {
  position: relative;
  color: var(--color-red);
}
.nav-links li ul.dropdown-menu li a::before{
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-red);
  transition: 0.4s;
}
.nav-links li ul.dropdown-menu li:hover a::before{
  width: 100%;
}
.icon-separator{
    position: relative;
   padding: 0 20px;
   
}
.icon-separator:not(:last-child)::after{
    position: absolute;
   content: "";
   width: 1px;
   height: 30px;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   background-color: #fff;
}
.icons-header{
    display: flex;
    align-items: center;
}
.icons-header a{
   width: 47px;
    height: 47px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 17px;
}


/* megamenu */

.mega-menu h3{
    position: relative;
    font-size: 22px;
    color: var(--color-blue);
    margin-bottom: 0;
    color: #000;
}
.mega-menu h3::after{
    position: absolute;
    content: "";
    background-color: #00000024;
    width: 87%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}


.product-item-image{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.product-item-image::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: -150%;
    bottom: -100%;
    transform: rotate(45deg) scale(1);
    background-color: #D5000959;
    transition: 0.4s;
}
.product-item-image::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: -150%;
    bottom: -100%;
    transform: rotate(45deg) ;
    background-color: #D500099E;
    transition: 0.4s;
}
.product-item:hover .product-item-image::before{
    width: 156%;
    height: 142%;
    transform: rotate(29deg) scale(1.5);
     background-color: #D5000959;
}
.product-item:hover .product-item-image::after{
    width: 156%;
    height: 142%;
    transform: rotate(29deg) scale(1.3);
    background-color: #D500099E;
}